* {
	background-image: none;
}
window {
	background-color: rgba(12, 12, 12, 0.5);
}
button {
	background-color: rgba(30,30,30,0.8);
    font-family: Iosevka;
    font-size: 24px;
    color: white;
    border-radius: 8px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
}

button:focus, button:active, button:hover {
	background-color: #3700B3;
	outline-style: none;
}

#lock {
    background-image: -gtk-icontheme('system-lock-screen');
}

#logout {
    background-image: -gtk-icontheme('system-log-out');
}

#suspend {
    background-image: -gtk-icontheme('uninterruptible-power-supply');
}

#hibernate {
    background-image: -gtk-icontheme('drive-harddisk');
}

#shutdown {
    background-image: -gtk-icontheme('system-shutdown');
}

#reboot {
    background-image: -gtk-icontheme('system-reboot');
}
