window {
background-color: rgba(0, 0, 0, 0);
font: PTMono;
font-size: 16;
color: black;
animation: fadein 1s;
position: relative;
}

#input {
color: black;
font-style: italic;
border-radius: 10px 10px 0 0;
border-bottom: 2px dashed black;
animation: foo 0.5s;
background-color: rgba(255,255,230,0.8);
padding: 10px;
}

#inner-box {
padding: 10px;
color: black;
}

#outer-box {
background-color: rgba(0,0,0,0);
}

#scroll {
background-color: rgba(245,245,220,0.8);
padding: 10px;
}

#text {
background-color: rgba(0,0,0,0);
}

#entry :hover {
background-color: white;
}

@keyframes foo {
  from {margin-top: 300px;}  
  to {margin-top: 0px;}  
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
