[Unit]
Description=Dynamic Wallpaper Tool for Wayland
Documentation=https://github.com/jwuensche/enkei
BindsTo=sway-session.target

[Service]
Type=simple
Environment="RUST_LOG=enkei=debug"
ExecStart=/usr/bin/enkei /home/fred/Pictures/WallpapersAll/wallpaper.xml
Restart=on-failure

[Install]
WantedBy=sway-session.target
