* {
    padding-bottom: 0px;
    border: none;
    border-radius: 0;
    font-family: "Ubuntu";
    font-size: 12px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: rgba(255, 255, 255, 1);
}

#workspaces {
    margin-left: 3px;
}

#workspaces button {
    margin-right: 3px;
    margin-top: 3px;
    padding: 4px;
    color: #edc482;
    background-color: rgba(28, 31, 33, 1);
    transition-duration: 0;
    font-weight: bold;
    font-family: "FreeMono";
    border-radius: 4px;
}

#workspaces button.focused {
    background-color: #D55E00;
    color: white;
    font-weight: bold;
    transition-duration: 0;
}

#workspaces button.persistent {
    color: #a8a8a8;
    font-weight: normal;
    transition-duration: 0;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd,
#custom-menu,
#window {
    color: white;
    margin-top: 3px;
    margin-right: 2px;
    padding: 4px;
    font-weight: bold;
    font-family: Cantarell;
    font-size: 12px;
    border-radius: 4px;
}

#mode {
    background-color: #f0c674;
}

#tray {
    background: rgba(28, 31, 33, 1);
}

#cpu {
    background: rgba(28, 31, 33, 1);
}

#pulseaudio {
    background: #81a2be;
}

#clock {
    background: #b5bd68;
    padding-left: 10px;
    padding-right: 10px;
}

#network {
    background: #E69F00;
}

#custom-menu {
    margin-left: 3px;
    background: #cc6666;
}

#battery {
    background: #b294bb;
    margin-right: 3px;
}

#temperature {
    background: #009E73;
}

#memory {
    background: #fbbba5;
}

#backlight {
    background: #D55E00;
}

#cpu {
    background: #b294bb;
}

#battery.charging {
    padding-right: 2px;
}
